HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ALGOLIA_ADMIN_KEY=V3XWSPUQGW
ALGOLIA_APP_ID=c21ab814515acd724b0ae9fd0c2d8957